.env
.env.local
.env.production
.env.*
!.env.example
node_modules/
.DS_Store
Thumbs.db
.vscode/
.idea/
dist/
build/
.supabase/
*.log
*.pem
*.key
*.p12
*.pfx
secrets.*
local-secrets.*

supabase/.temp/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
